* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ecf2ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result {
  background-color: #5e3ffc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: "Helvetica", "Arial", sans-serif;
  color: white;
  width: 300px;
  border-radius: 15px;
}
.points {
  background-color: #4d4674;
  background-image: linear-gradient(180deg, #301e86, #5e3ffc);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.points h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
p {
  width: 69%;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.4;
}
.summary-container {
  width: 260px;
  padding: 20px;
  background: white;
  border-radius: 20px;
  font-family: "Inter", Arial, sans-serif;
}

.summary-container h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #444;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 600;
}

.grey {
  color: #999;
  font-weight: 500;
}

.reaction {
  background: rgba(255, 0, 0, 0.1);
  color: #d94141;
}

.memory {
  background: rgba(255, 200, 0, 0.15);
  color: #c08a00;
}

.verbal {
  background: rgba(0, 200, 150, 0.15);
  color: #00a37a;
}

.visual {
  background: rgba(100, 100, 255, 0.15);
  color: #4a4aed;
}

.item:hover {
  transform: scale(1.02);
  transition: 0.2s ease;
}
.continue-btn {
  width: 100%;
  padding: 15px 0;
  background: #181930;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 10px;
}

.continue-btn:hover {
  background: #1e29d9;
  transform: translateY(-2px);
}

.continue-btn:active {
  transform: scale(0.98);
}
.wrap {
  display: flex;
  background-color: white;
  max-width: fit-content;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .wrap {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .result {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    flex: 1;
  }
  .summary-container {
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body {
    justify-content: start;
    align-items: start;
  }
}
